<header>
    
    <a href="#go-hero"><h1 class="main-name">Naturalis</h1></a>
    
    <nav class="" id="nav-header">
        <a class="menu-nav-link" href="#donde-estamos">¿Dónde estamos?</a>
        <a class="menu-nav-link" href="#quienes-somos">¿Quiénes somos?</a>
        <a class="menu-nav-link" href="#que-es">¿Qué es?</a>
        <img class ="btn--exit" src="assets/images/exit-btn.svg" alt="icon-exit" onclick="closeMenuHeader()">
    </nav>

    <img class="btn--header" src="assets/images/ico-menu.svg" alt="icon-menu" onclick="showMenuHeader()">

</header>

    
