
<section class="page__main">
    
    <div class="wrapper-main">
        <span class="donde-title subpart">¿Dónde estamos?</span>
        <div id="donde-estamos" class="anchor"></div>
        <div class="first-part" >
            <h2 class="title-first-main"> Canteras de <span class="first-main">s'Hostal</span></h2>
            <img class="mapa-canteras" alt="mapa de Menorca" src="assets/images/mapa-canteras-act.png"/>
            <p class= "content-first-main">124 canteras <br>30 activas</br></p>
        </div>
        <div class="time-line">
            <img class="diagrama-img" alt="diagrama" src="assets/images/diagrama-cantera.png"/>
        </div>
        <ul class="carrousel">
            <p id="sentence-mares">"La arquitectura del marés es un recorrido por 25 siglos de Historia"</p>
            <li class="slide showing" id="cantera-1"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera1.png"/></li>
            <li class="slide" id="cantera-2"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera2.png"/></li>
            <li class="slide" id="cantera-3"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera3.png"/></li>
            <li class="slide" id="cantera-4"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera4.png"/></li>
            <li class="slide" id="cantera-5"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera5.png"/></li>
            <li class="slide" id="cantera-6"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera6.png"/></li>
        </ul>
    </div>


    <div class="second-part">
        <span class="quienes-title subpart">¿Quiénes somos?</span>
        <div id="quienes-somos" class="anchor"></div>
        <div class="second-part-content">
            <div class="image-container">
                <div class="point-lithica" onclick="addClassLit()"></div>
                <img class="logo-img" alt="logo lithica y life natura" src="assets/images/logo-circulo.png"/>
                <div class="point-life" onclick="addClassLif()"></div>
            </div>
            <div class="second-part-description">
                <div id="li-cant" class="content-lithica"> 
                    <h3 class="title-description">Lithica</h3>
                    <p>Rehabilitación de las canteras de las Pedreres de s'Hostal</p>
                    <a class="saber-mas" target="_blank" href="http://lithica.es/lithica/">Saber más</a>
                </div>
                <div id="li-nat" class="content-natura"> 
                    <h3 class="title-description">Life-Natura</h3>
                    <p>Conservación de la flora amenazada en Menorca</p>
                    <a class="saber-mas" target="_blank" href="http://www.biosferamenorca.org/portal.aspx">Saber más</a>
                </div>
            </div>
        </div>
    </div>

    <div class="third-part">
        <span class="quienes-title subpart">¿Qué es?</span>
        <div id="que-es" class="anchor"></div>
        <div class="mapa-container">
            <img class="mapa-lugar" alt="Esquema de Naturalis" src="assets/images/que-es-1.png"/>
        </div>
        <div class="sections-project">
            <div class="section-item">
                <h3 class="subtitle-section" id="vivero">Vivero</h3>
                <p class="description-subsection"></p>
            </div>
            <div class="section-item">
                <h3 class="subtitle-section" id="pasarela">Jardín Endémico</h3>
                <p class="description-subsection"></p>
            </div>
            <div class="section-item">
                <h3 class="subtitle-section" id="palmarium">Palmarium</h3>
                <p class="description-subsection"></p>
            </div>
        </div>  
    </div>


</section>

