<main class="page__main">
    <section>
        <span class="donde-title">¿Dónde estamos?</span>
        <div class="wrapper-main">
    
            <div id="go-main" class="anchor"></div>
    
            <div class="first-part" id="donde-estamos">
                <h2 class="title first-main"> Canteras de s'Hostal</h2>
                <p class= "content-first-main">124 canteras. <br>30 activas.</br></p>
                <img class="mapa-canteras" alt="mapa de Menorca" src="assets/images/mapa-canteras-act.png"/>
            </div>
            <ul class="carrousel">
                <li class="carrousel-item"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera1.png"/></li>
                <li class="carrousel-item"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera2.png"/></li>
                <li class="carrousel-item"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera3.png"/></li>
                <li class="carrousel-item"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera4.png"/></li>
                <li class="carrousel-item"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera5.png"/></li>
                <li class="carrousel-item"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera6.png"/></li>
            </ul>
        </div>
    
    
        <div class="second-part">
            <h2 class="title second-main">3 Reasons to purchase</h2>
            <ul class="list-purchase">
                <li class="reasons">
                    <h3 class="secondtitle">Ut sed metus</h3>
                    <p class="description">Lorem ipsum dolor sit amet, consecteur.</p>
                </li>
                <li class="reasons">
                    <h3 class="secondtitle">Curabitur ac erat</h3>
                    <p class="description">Mauris mattis urna quis lorem molestie.</p>
                </li>
                <li class="reasons">
                    <h3 class="secondtitle">Morbi dictum</h3>
                    <p class="description">Aliquam in dolor et dolor tincidunt.</p>
                </li>
            </ul>
            <div class="container-btn-reasons">
                <div class="btn-reasons">More reasons</div>
            </div>
        </div>
    
    
    </section>
</main>
