
<section class="page__main">
    
    <div class="wrapper-main">
        <span class="donde-title subpart">¿Dónde estamos?</span>
        <div id="donde-estamos" class="anchor"></div>
        <div class="first-part" >
            <h2 class="title-first-main"> Canteras de <span class="first-main">s'Hostal</span></h2>
            <img class="mapa-canteras" alt="mapa de Menorca" src="assets/images/mapa-canteras-act.png"/>
            <p class= "content-first-main">124 canteras <br>30 activas</br></p>
        </div>
        <div class="time-line">
            <img class="diagrama-img" alt="diagrama" src="assets/images/diagrama-cantera.png"/>
        </div>
        <ul class="carrousel">
            <p id="sentence-mares">"La arquitectura del marés es un recorrido por 25 siglos de Historia"</p>
            <li class="slide showing" id="cantera-1"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera1.png"/></li>
            <li class="slide" id="cantera-2"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera2.png"/></li>
            <li class="slide" id="cantera-3"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera3.png"/></li>
            <li class="slide" id="cantera-4"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera4.png"/></li>
            <li class="slide" id="cantera-5"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera5.png"/></li>
            <li class="slide" id="cantera-6"><img class="cantera-img" alt="vista de cantera" src="assets/images/cantera6.png"/></li>
        </ul>
    </div>


    <div class="second-part">
        <span class="quienes-title subpart">¿Quiénes somos?</span>
        <div id="quienes-somos" class="anchor"></div>
        <div class="second-part-content">
            <div class="image-container">
                <div class="point-lithica" onclick="addClassLit()"></div>
                <img class="logo-img" alt="logo lithica y life natura" src="assets/images/logo-circulo.png"/>
                <div class="point-life" onclick="addClassLif()"></div>
            </div>
            <div class="second-part-description">
                <div id="li-cant" class="content-lithica"> 
                    <h3 class="title-description">Lithica</h3>
                    <p>Rehabilitación de las canteras de las Pedreres de s'Hostal</p>
                    <a class="saber-mas" target="_blank" href="http://lithica.es/lithica/">Saber más</a>
                </div>
                <div id="li-nat" class="content-natura"> 
                    <h3 class="title-description">Life-Natura</h3>
                    <p>Conservación de la flora amenazada en Menorca</p>
                    <a class="saber-mas" target="_blank" href="http://www.biosferamenorca.org/portal.aspx">Saber más</a>
                </div>
            </div>
        </div>
    </div>

    <div class="third-part">
        <span class="quienes-title subpart">¿Qué es?</span>
        <div id="que-es" class="anchor"></div>
        <div class="mapa-container">
            <div class="img-detail" id="viv-detail" onmouseover="showImg('map-viv-det')" onmouseout="hideImg('map-viv-det')">
                <a class="links-to-section" href="#vivero">Vivero</a>
                <img class="mapa-detail" id="map-viv-det" alt="Detalle interior vivero" src="assets/images/vivero-render.png"/>
            </div>
            <img class="mapa-lugar" alt="Esquema de Naturalis" src="assets/images/que-es-1.png"/>
            <div class="img-detail" id="pal-detail" onmouseover="showImg('map-pal-det')" onmouseout="hideImg('map-pal-det')">
                <a class="links-to-section" href="#palmarium">Palmarium</a>
                <img class="mapa-detail" id="map-pal-det" alt="Detalle interior palmarium" src="assets/images/palmarium-render.png"/>
            </div>
        </div>
        <div class="sections-project">
            <div class="section-item first-item">
                <h3 class="subtitle-section" id="plaza">Plaza</h3>
                <img class="plaza-img" alt="Plano Plaza" src="assets/images/plaza-captura.png"/>
            </div>

            <div class="section-item second-item">
                <h3 class="subtitle-section" id="vivero">Vivero</h3>
                <div class="main-content-supart">
                    <div class="first-part-wrapper">
                        <img class="corte-section" alt="Corte Sección" src="assets/images/seccion-vivero-1.png"/>
                        <p class="description-subsection">
                            <span class="salto-1">-Espacio comercial</span> 
                            <span class="salto-2">-Mercado de semillas</span> 
                            <span class="salto-3">-Zonas de cultivo</span> 
                            <span class="salto-4">-Servicios</span> 
                            <span class="salto-5">-Ambigú</span>
                        </p>
                    </div>
                    <div class="second-part-wrapper" onmouseover="playGif()" onmouseout="stopGif()">
                        <img class="axo-vivero" id="main-img-gif" alt="Axioma Vivero" src="assets/images/axo-vivero.png"/>
                        <img class="img-gif" alt="Axioma Vivero" src="assets/images/gif-vivero-normal.gif"/>
                    </div>
                </div>
                <img class="corte-section-plaza" alt="Corte Sección" src="assets/images/seccion-2-plaza-captura.png"/>
            </div>
            
            <div class="section-item third-item">
                <h3 class="subtitle-section" id="pasarela">Jardín Endémico</h3>
                <p class="description-subsection"></p>
            </div>

            <div class="section-item fourth-item">
                <h3 class="subtitle-section" id="palmarium">Palmarium</h3>
                <p class="description-subsection"></p>
            </div>
        </div>  
    </div>


</section>

