.page__main{
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
}

.subpart{
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    background-color: $color-theme;
    top: 0px;
    left: 0px;
    padding: 10px 20px;
    margin: 0;
    color: rgb(48,70,43);
    font-family: $title-font;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

.wrapper-main{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mapa-canteras{
    width: 400px;
}

.first-part{
    margin-top: 60px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchor{
    width: 0px;
    height: 0px;
    position: absolute;
    top: -50px; 
    left: 0;
}

.carrousel{
    margin: 40px 0px 0px 0px;
    padding: 0px;
    height: 400px;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    li{
        list-style: none;
        overflow: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 2s;
    }

    .showing {
        opacity: 1;
        z-index: 2;
    }
}

#sentence-mares{
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 100%;
    padding-left: 20px; 
    transform: translateX(-50%);
    background-color: rgba(238, 238, 236, 0.575);
    font-family: $title-font;
    font-size: 32px;
    z-index: 4;
}

.cantera-img{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.title-first-main{
    font-family: $title-font;
    margin: 0px;
    font-size: 32px;
    line-height: 45px;
    color: $color-primary;
    width: 180px;
    text-align: center;
    color: rgb(203,175,138);
}

.content-first-main{
    font-family: $title-font;
    font-weight: 400;
    font-size: 18px;
    color: $color-tertiary;
    order: 2;
    text-align: right;
    margin-left: 15px;
}

.time-line{
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
}

.diagrama-img {
    box-sizing: border-box;
    width: 100%;
}

.second-part{
    box-sizing: border-box;
    padding: 10px 20px;
    position: relative;
    height: calc(100vh - 44px);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-part-content{
    box-sizing: border-box;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img{
    width: 400px;
    opacity: 0.8;
}

.image-container{
    margin-top: 60px;
}

.point-lithica{
    width: 150px;
    height: 185px;
    position: absolute;
    top: 26%;
    cursor: pointer;
    z-index: 3;
}

.point-life{
    width: 150px;
    height: 180px;
    position: absolute;
    top: 27%;
    left: 52%;
    cursor: pointer;
}

.second-part-description{
    width: 100%;
    box-sizing: border-box;
    position: relative;
    font-family: $title-font;
    overflow: hidden;
}

.second-part-description p {
   margin: 0;
}

.lithica{
    transition: 2s;
    margin-left: 15%;
}

.content-lithica{
    transition: 2s;
    margin-left: -50%;
}

.natura{
    transition: 2s;
    margin-right: 20%;
}

.content-natura{
    transition: 2s;
    margin-right: -50%;
}

#li-cant {
    font-size: 20px;
}

#li-nat{
    text-align: right;
    font-size: 20px;
}

.title-description{
    color: rgb(112,113,111);
    font-family: $title-font;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.saber-mas{
    font-size: 18px;
    margin: 0;
    color: rgb(235,73,8);
}

.third-part{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 0px;
}

.mapa-lugar{
    height: 80vh;
    margin-top: 90px;
}

.mapa-container{
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: calc(100vh - 44px);
    
    display: flex;
    justify-content: center;
}

.links-to-section{
    position: absolute;
    top: -15px;
    left: 0px;
    height: 200px;
}

.img-detail{
    width: 50px;
    height: 200px;
    position: absolute;
    cursor: pointer;

    .map-viv{
        position: absolute;
        left: 200%;
        z-index: 2;
        border: 4px solid rgba(5, 23, 102, 0.89);
    }

    .map-pal{
        position: absolute;
        height: 550px;
        right: 150%;
        top: 5%;
        border: 4px solid rgba(5, 23, 102, 0.89);
    }
}

#pal-detail{
    left: 60%;
    top: 9%;
}

#viv-detail{
    left: 10%;
    top: 36%;
}

.mapa-detail{
    width: 0px;
    height: 0px;
}

#map-viv-det{
    width: 600px;   
}

.sections-project{
    font-family: $title-font;
    margin-top: 30px;
}

.section-item{
    box-sizing: border-box;
    width: 100%;
    margin-top: 10px;
    min-height: calc(100vh - 44px);
    color: rgb(144,158,137);
}

.subtitle-section{
    font-size: 20px;
    padding-left: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-style: oblique;   
    margin-top: 20px;
}

.plaza-img{
    height: 70vh;
    margin-top: 5%;
    margin-left: 50%;
    transform: translate(-50%);
}

.first-part-wrapper{
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.description-subsection {
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}

.main-content-supart {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.second-part-wrapper{
    box-sizing: border-box;
    height: 500px;
    width: 290px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-img-gif{
    height: 500px;
    z-index: 1;
    top: 0;
    left: 0;
    opacity: 1;
}

.corte-section-plaza{
    width: 100%;
    border: 2px solid $color-theme;
}

.img-gif {
    position: absolute;
    height: 500px;
    right: 60%;
    top: 50px;
    border: 8px solid rgba(235,73,8,0.5);
    opacity: 0;
    z-index: 1;
}

.pasarela-slide {
    box-sizing: border-box;
    width: 825px;
    height: 500px;
}

.carrousel-pasarela{
    margin: 20px 0px 0px 0px;
    padding: 0px;
    height: 80vh;
    width: 100%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    li{
        list-style: none;
        overflow: hidden;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;    
        width: 100%;
        height: 500px;
        opacity: 0;
        z-index: 1;
        transition: opacity 1s;
    }

    .showing {
        opacity: 1;
        z-index: 2;
    }
}

.catalogo-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

.catalogo-img{
    width: 100%;
}

.carrousel-palmarium {
    margin: 30px 0px 0px 0px;
    padding: 0px;
    height: 400px;
    width: 300px;
    z-index: 4;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    li{
        list-style: none;
        position: absolute;
        width: 100%;
        height: 400px;
        opacity: 0;
        z-index: 3;
        transition: opacity 1s;
    }

    .showing {
        opacity: 1;
        z-index: 4;
    }
}

.palmarium-slide{
    width: 360px;
    height: 400px;
}

.carousel-stat{
    margin-top: 20px;
    padding: 0;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 500px;
    height: 700px;
    z-index: 0;
    overflow: hidden;

    li{
        list-style: none;
        overflow: hidden;
        position: absolute;
        top: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 2s;
    }

    .showing {
        opacity: 1;
        z-index: 2;
    }
}

.planos-palma{
    height: 600px;
}

.container-sect{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    min-height: 100vh;
}

.fifth-item{
    position: relative;
}

#palmarium{
    position: absolute;
    top: 30px;
}

.cont-first{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.end{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 4px solid $color-theme;
}