.page__main{
    position: relative;
    background-color: #fff;
    overflow: hidden;
}

.subpart{
    position: absolute;
    width: 100%;
    background-color: $color-theme;
    top: 0px;
    left: 0px;
    padding: 10px 20px;
    margin: 0;
    color: rgb(48,70,43);
    font-family: $title-font;
    font-weight: 400;
    font-size: 22px;
    line-height: 30px;
}

.wrapper-main{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mapa-canteras{
    width: 400px;
}

.first-part{
    margin-top: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchor{
    width: 0px;
    height: 0px;
    position: absolute;
    top: -50px; 
    left: 0;
}

ul{
    margin: 40px 0px 0px 0px;
    padding: 0px;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    li{
        list-style: none;
        overflow: hidden;
        padding: 10px;
        position: absolute;
        left: -10px;
        top: -10px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 2s;
    }

    .showing {
        opacity: 1;
        z-index: 2;
    }
}

#sentence-mares{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: 0;
    width: 100%;
    padding-left: 20px; 
    transform: translateX(-50%);
    background-color: rgba(238, 238, 236, 0.575);
    font-family: $title-font;
    font-size: 32px;
    z-index: 4;
}

.cantera-img{
    width: 100%;
    height: 100%;
}

.title-first-main{
    font-family: $title-font;
    margin: 0px;
    font-size: 32px;
    line-height: 45px;
    color: $color-primary;
    width: 180px;
    text-align: center;
    color: rgb(203,175,138);
}

.content-first-main{
    font-family: $title-font;
    font-weight: 400;
    font-size: 18px;
    color: $color-tertiary;
    order: 2;
    text-align: right;
    margin-left: 15px;
}

.time-line{
    width: 100%;
    margin-top: 10px;
}

.diagrama-img {
    width: 100%;
}

.second-part{
    padding: 10px 20px;
    position: relative;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second-part-content{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-img{
    width: 400px;
    opacity: 0.8;
}

.image-container{
    margin-top: 60px;
}

.point-lithica{
    width: 150px;
    height: 185px;
    position: absolute;
    top: 26%;
    cursor: pointer;
    z-index: 3;
}

.point-life{
    width: 150px;
    height: 180px;
    position: absolute;
    top: 27%;
    left: 52%;
    cursor: pointer;
}

.second-part-description{
    width: 100%;
    position: relative;
    font-family: $title-font;
    overflow: hidden;
}

.second-part-description p {
   margin: 0;
}

.lithica{
    transition: 2s;
    margin-left: 15%;
}

.content-lithica{
    transition: 2s;
    margin-left: -50%;
}

.natura{
    transition: 2s;
    margin-right: 20%;
}

.content-natura{
    transition: 2s;
    margin-right: -50%;
}

#li-cant {
    font-size: 20px;
}

#li-nat{
    text-align: right;
    font-size: 20px;
}

.title-description{
    color: rgb(112,113,111);
    font-family: $title-font;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
}

.saber-mas{
    font-size: 18px;
    margin: 0;
    color: rgb(235,73,8);
}

.third-part{
    position: relative;
    width: 100%;
    height: 100%;
    padding: 10px 20px;
}

.mapa-lugar{
    width: 70%;
    margin-right: 50px;
}

.mapa-container{
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

.subtitle-section{
    margin: 0;
}

.sections-project{
    font-family: $title-font;
    margin-top: 40px;
}

.section-item{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.plaza-img{
    width: 80%;
}
