.page__main{
    position: relative;
    background-color: #fff;
}

.subpart{
    position: absolute;
    width: 100%;
    // background-color: $color-theme;
    top: 0px;
    left: 0px;
    padding: 10px 20px;
    margin: 0;
    color: #90c593;
    font-family: $text-font;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
}

.wrapper-main{
    position: relative;
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.mapa-canteras{
    width: 400px;
    margin-left: 20px;
}

.first-part{
    margin-top: 20px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.anchor{
    width: 0px;
    height: 0px;
    position: absolute;
    top: -50px; 
    left: 0;
}

ul{
    margin: 40px 0px 0px 0px;
    padding: 0px;
    height: 400px;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    flex-direction: row;

    li{
        list-style: none;
        overflow: hidden;
        padding: 10px;
        position: absolute;
        left: -10px;
        top: -10px;
        width: 100%;
        height: 100%;
        opacity: 0;
        z-index: 1;
        transition: opacity 2s;
    }

    .showing {
        opacity: 1;
        z-index: 2;
    }
}

.cantera-img{
    width: 100%;
    height: 100%;
}

.title-first-main{
    font-family: $title-font;
    margin: 0px;
    font-size: 32px;
    line-height: 45px;
    color: $color-primary;
    width: 180px;
    text-align: center;
    color: rgb(203,175,138);
}

.content-first-main{
    font-family: $title-font;
    font-weight: 400;
    font-size: 18px;
    color: $color-tertiary;
    order: 2;
    text-align: right;
    margin-left: 15px;
}

.container-go-there{
    width: 76px;
    height: 45px;
    border-radius: 22.5px;
    border: solid 2px $color-theme;
    font-family: $component-font;
    font-weight: 500;
    font-size: 20px;
    color: $color-theme;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: color ease .6s;
    transition: background-color ease .6s;
}

.container-go-there:hover{
    background-color: $color-theme;
    color: $color-primary;
}

.time-line{
    width: 100%;
    margin-top: 10px;
}

.diagrama-img {
    width: 100%;
}

//3 Reasons
.second-part{
    padding: 30px 15px 60px;
    position: relative;
}

.second-main{
    text-align: center;
    margin-bottom: 45px;
}

.list-purchase{
    padding: 0 55px;
    margin: 0;
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    grid-row-gap: 45px;

}

.secondtitle{
    font-family: $title-font;
    font-size: 18px;
    text-align: center;
}

.description{
    font-family: $text-font;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
}

.container-btn-reasons{
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-reasons{
    text-align: center;
    width: 184px;
    height: 45px;
    border-radius: 22.5px;
    background-color: $color-theme;
    color: $color-primary;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $component-font;
    font-weight: 500;
    font-size: 20px;
    cursor: pointer;
    transition: color ease .6s;
    transition: background-color ease .6s;
    
}

.btn-reasons:hover{
    color: $color-theme;
    background-color: $color-primary;
    border: solid 2px $color-theme;
}

