//Colors
$color-primary: #494949d8; 
$color-secondary: black;
$color-tertiary: #4a4a4a;
$color-theme: rgba(238, 238, 236, 0.925);

//Fonts
$title-font: 'Forum', cursive;
$text-font: 'Roboto', sans-serif;
$component-font: 'Roboto', sans-serif;

